/* _BUTTONS.SCSS
 * --------------------------------------------------
 *  Button styles should be declared here
 * -------------------------------------------------- */

// default cta button
.button {
    display: block;
    padding: 15px 20px;
    color: $white;
    text-align: center;
    background: $main-color;
    border-radius: 3px;
    transition: .2s $cubic;
    
    &:hover {
        background: darken($main-color, 5%);
    }

    &.button__small {
        @include fontsize(14px);
    }
}