/* _BUTTONS.SCSS
 * --------------------------------------------------
 *  Button styles should be declared here
 * -------------------------------------------------- */

// default cta button
.btn {
    display: block;
    padding: 16px 20px;
    color: $white;
    text-align: center;
    background: $main-color;
    border-radius: 3px;
    transition: .2s $cubic;
    
    &:hover {
        background: darken($main-color, 5%);
    }
}

.btn--small {
    @include fontsize(14px);
}