/* _FOOTER.SCSS
 * --------------------------------------------------
 *  Footer styles should be declared here
 * -------------------------------------------------- */

footer {
    @extend header;
}