/* _HEADER.SCSS
 * --------------------------------------------------
 *  Header styles should be declared here
 * -------------------------------------------------- */

header {
    background-color: $main-color;
    
    h1 {
        color: $white;
    }

    p {
        color: $white;
        margin-bottom: 10px;
    }

    i {
        color: $secondary-color;
        margin-left: 4px;
    }
}

.clicks {
    margin-bottom: 0;
    color: $white;
    display: none;

    &.is-active {
        display: block;
    }
}