{% extends "layouts/default.njk" %}

{# set variables #}
{% set title = 'Styleguide' %}
{% set title_pretty = 'Style guidelines' %}

{# import macros #}
{% import "macros/macro-section.njk" as s %}

{% block header %}
    {{ s.section(class="vh__center--sm", "Style guidelines", "Basic style guidelines I use in most of my projects", "https://ziggyv.be", "By Ziggy V", icon="") }}
{% endblock %}

{% block content %}
    {# colors #}
    <section id="colors" class="bdr-btm">
        <div class="wrapper">
            <p class="bold"><span class="titleNumber">01</span> <span class="titleText">COLORS</span></p>
            <p class="thin mb-md">Primary and text colors</p>

            <div class="color__container cf">
                {% for color in colors %}
                    <div class="color__item">
                        <div class="color color--{{ color.name }}"></div>
                        <div class="color__details pt-sm">
                            <p>{{ color.name }} color</p>
                            <p class="small">{{ color.hex }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {# images #}
    <section id="images" class="section-white bdr-btm">
        <div class="wrapper">
            <p class="bold"><span class="titleNumber">02</span> <span class="titleText">IMAGES</span></p>
            <p class="thin mb-md">Responsive image grid</p>
        </div>

        <div class="wrapper wrapper--big">
            <div class="grid">
                {% for row in imageGrid | batch(3) %}    
                    <div class="grid__row cf">
                        {% for image in row %}
                            <div class="grid__item">
                                <img src="images/{{ image.name }}.jpg" alt="{{ image.alt }}">
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {# typography #}
    <section id="typo">
        <div class="wrapper">
            <p class="bold"><span class="titleNumber">03</span> <span class="titleText">TYPOGRAPHY</span></p>
            <p class="thin mb-md">Heading and paragraph font styles</p>

            <div class="typo__container">
                {% for typo in typography %}
                    <div class="typo__item cf">
                        <div class="typo typo__desc">
                            <p class="bold">{{ typo.name }}</p>
                            <p class="small">{{ typo.font }}</p>
                            <p class="small">{{ typo.pt }}</p>
                        </div>

                        <div class="typo typo__example">
                            <{{ typo.html | safe }} {{ "class=" + typo.class if typo.class }}>
                                {{ text.fox if typo.text == 'fox' else text.lorem }}
                            </{{ typo.html }}>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}