<nav>
    <div class="wrapper">
        <ul class="cf">
            {# loop through navItems in data.json and apply active link #}
            {% for item in navItems %}
                <li>
                    <a class="{% if item.item == title|lower or (item.item == '/' and not title) %}active{% endif %}" href="{% if subName and item.item == '/' %}..{% elif subName %}../{% endif %}{{ item.dir + item.item if item.dir else item.item }}">{{ item.item_pretty }}</a>
                </li> 
            {% endfor %}
        </ul>
    </div>
</nav>