/* _BASE.SCSS
 * --------------------------------------------------
 *  Base styles
 * 
 *  Default styles of the project, these will not
 *  be changed or altered in most of the cases
 * -------------------------------------------------- */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
}

body {
    font-family: $ovp-light;
    color: $text-color;
    @include fontsize(16px);

    @include bp-medium {
        @include fontsize(18px);
    }

    background-color: $background-color;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23eeeeee' fill-opacity='0.25' fill-rule='evenodd'/%3E%3C/svg%3E");
}

// remove all margins
h1, h2, h3, h4, p {
    margin: 0;
    font-weight: normal;
}

// default font sizes (personal pref)
h1 {
    font-family: $ovp-regular;
    @include fontsize(32px);

    @include bp-medium {
        @include fontsize(48px);
    }
    
    &.big__heading {
         font-family: $ovp-light;
        @include fontsize(48px);

        @include bp-medium {
            @include fontsize(64px);
        }
    }
}

h2 {
    font-family: $ovp-light;
    @include fontsize(24px);

    @include bp-medium {
        @include fontsize(32px);
    }
}

h3 {
    font-family: $ovp-regular;
    @include fontsize(21px);

    @include bp-medium {
        @include fontsize(24px);
    }
}

h4 {
    font-family: $ovp-bold;
    @include fontsize(18px);  
    
    @include bp-medium {
        @include fontsize(21px);
    }  
}

p {
    color: $paragraph-color;
    line-height: 1.5;
}

.small {
    @include fontsize(14px);
}

.thin {
    font-family: $ovp-thin;
}

.bold {
    font-weight: bold;
}

// 'normalize' some other elements (personal pref)
a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

section, footer {
    padding: 56px 0;
    
    @include bp-normal {
        padding: 112px 0;
    }
}

input, textarea {
    width: 100%;
    padding: 12px;
    color: $text-color;
    outline: 0;
    border: 1px solid $border-color;    

    @include bp-medium {
        padding: 16px;
    }
}

input[type="email"]:focus, 
input[type="tel"]:focus,
input[type="text"]:focus, 
textarea {
    color: $main-color;
}

input[type="submit"] {
    cursor: pointer;
}

fieldset {
    padding: 0;
    border: none;
}

::-webkit-input-placeholder {
    color: $paragraph-color;    
}

::-moz-placeholder {
    color: $paragraph-color;    
}

:-ms-input-placeholder {
    color: $paragraph-color;    
}

:-moz-placeholder {
    color: $paragraph-color;    
}

// wrapper
.wrapper {
    padding: 0 24px;
    max-width: 960px;
    margin: 0 auto;

    @include bp-medium {
        padding: 0 48px
    }
}

.wrapper--big {
    max-width: 1400px;
}

// clearfix: add 'cf' to container of floated elements
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

// selected text color and bg
::-moz-selection {
    color: $white;
    background: $main-color;
}

::selection {
    color: $white;
    background: $main-color;
}

// this element is visible when visitor uses IE10 or below
.browserupgrade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 9999;
    background: $white;
    padding: 16px;

    @include bp-medium {
        padding: 20px;
    }
    
    a {
        @extend %link;
    }
}
