<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="{{ meta.description }}">

    {# social meta block #}
    {% block meta %}
        {% include "partials/meta.njk" %}
    {% endblock %} 

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#181818">
    <title>{{ (title_pretty + " - " + meta.domain) if title_pretty else meta.domain }}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!-- External CSS file(s) - automatically injected -->
    <!-- build:css /css/main.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    
    <!-- Main CSS file -->
    <link rel="stylesheet" href="/css/main.css" />
    <!-- endbuild -->
</head>
<body>  
    <!--[if lt IE 10]> 
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a target="_blank" href="http://outdatedbrowser.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    {# import macros #}
    {% import "macros/macro-section.njk" as s %}

    {# nav block #}
    {% block nav %}
        {% include "partials/nav.njk" %}
    {% endblock %} 

    {# header block #}
    {% block header %}
        {{ s.section(class="vh__center--sm", "Default content", "Can be replaced by using template inheritance", meta.github, "View on GitHub") }}
    {% endblock %} 

    {# main content block #}    
    <div class="container">
        {% block content %}{% endblock %}
    </div>    

    {# footer block #}
    {% block footer %}
        {{ s.section(section="footer", class="vh__center--sm", "Gulp boilerplate", "Front-end boilerplate for a better and faster workflow", meta.github, "View on GitHub") }}
    {% endblock %} 
    
    <!-- External JS file(s) - automatically injected -->
    <!-- build:js /js/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- Main JS file -->
    <!-- build:js /js/main.js -->
    <script src="/js/main.js"></script>
    <!-- endbuild -->
</body>
</html>